// @import '../../../../styles/general/typography.styl'
// @import '../../../../styles/general/color.styl'
// @import '../../../../styles/general/box-sizing.styl'

:host
  display block
  box-sizing: border-box
  padding: 80px 0 60px 0
  background-color: #fff
  width: 100vw
  background-color: white

*
  padding: 0
  margin: 0

.agenda-content
  position: relative
  width: 100vw
  @media screen and (min-width: 1023px)
    width: 80%
    margin: auto

  a[name]
    position absolute

  a
    text-decoration: none    
  
  a.clickable
    cursor: pointer

  a.clickable:hover
    opacity: 0.8


  .item
    display: flex
    margin-bottom: 1rem
    

  .time
    flex-basis: 8rem
    display: flex
    flex-direction: column
    align-items: center
    position relative
    
    h2,h4
      color: #4285f4
    h4
      font-size: 0.75rem
      position absolute
      top: 1.75rem

  .detail
    display: flex
    flex-direction: column
    width: 60%

    .topic-detail
      margin-bottom: 1.5rem

    .topic-title
      color: #333

    .duration
      margin-top: 0.25rem
      color: #777

    .topic
      margin-top: 0.75rem
      color: #777

.speakers
  text-align: center
  padding: 2rem
  color: #444

.speakers-grid
  display: flex
  justify-content center
  flex-wrap: wrap

.modal

  position: fixed
  width 100%
  max-height: 35rem
  max-width: 30rem
  left: 50%
  top: 50%
  transform: translate(-50%,-50%)
  opacity: 1
  transition: 0.3s transform, 0.3s opacity
  will-change: transform, opacity
  background-color: white
  border-radius: 0.25rem
  z-index 100
  box-shadow: 0px 0.5rem 2rem #00000044
  color: #333
  overflow: auto
  display: flex
  flex-direction: column

.modal.hidden
  opacity 0
  transform: translate(-50%,50%)
  will-change: transform, opacity
  pointer-events: none


.modal > header
  padding 1rem
  background-color: #00ccaa
  background: linear-gradient(to right,#00ccaa, #4285f4);
  position: sticky
  top: 0
  

.speaker-photo-container
  width: 8rem
  height: 8rem
  background-color: #ddd
  border-radius: 50%
  margin: auto
  overflow hidden

.speaker-photo
  width: 8rem

.speaker-main-detail
  text-align: center

.speaker-name
  color: #ffffff
  margin-top: 0.5rem
.speaker-position
  color: #ffffff
  font-weight: lighter

.close-button
  position absolute
  top: 1rem
  right: 0

.close-button > a
  padding: 1rem
  cursor pointer

.close-button > a:hover
  opacity 0.8

.speaker-details
  padding: 2rem

.speaker-details > p
  line-height: 1.5rem
  text-align: justify

.speakers-grid > .speaker-item
  width: 20rem
  padding 2rem
  cursor pointer

.speakers-grid > .speaker-item:hover
  opacity 0.8

.speakers-grid .speaker-name
  color: #444 !important

.speakers-grid .speaker-position
  color: #888 !important