// @import '../../../../styles/general/typography.styl'
// @import '../../../../styles/general/color.styl'
// @import '../../../../styles/general/box-sizing.styl'

:host
  display block
  box-sizing: border-box
  padding: 80px 0 60px 0
  background-color: #fff
  width: 100vw
  background-color: white

*
  padding: 0
  margin: 0

.agenda-content
  position: relative
  width: 100vw
  @media screen and (min-width: 1023px)
    width: 80%
    margin: auto

  a[name]
    position absolute
    

  .item
    display: flex
    margin-bottom: 1rem
    

  .time
    flex-basis: 8rem
    display: flex
    flex-direction: column
    align-items: center
    position relative
    
    h2,h4
      color: #4285f4
    h4
      font-size: 0.75rem
      position absolute
      top: 1.75rem

  .detail
    display: flex
    flex-direction: column
    max-width: 60%

    .topic-detail
      margin-bottom: 1.5rem

    .topic-title
      color: #333

    .duration
      margin-top: 0.25rem
      color: #777

    .topic
      margin-top: 0.75rem
      color: #777

.modal
  position: fixed
  width: 80vh
  max-width: 20rem
  left: 50%
  top: 0
  min-height: 100vh
  transform: translateX(-50%)
  background-color: white
  z-index 100
  border: 1px solid black