// @import '../../../../styles/general/typography.styl'
// @import '../../../../styles/general/color.styl'
// @import '../../../../styles/general/box-sizing.styl'

:host
  display block
  box-sizing: border-box
  // min-height: 100vh
  width: 100vw
  padding 60px 0
  background-color: #ddeeff

.csj-content
  width: 80vw
  margin: auto
  color: #007cc2
  padding-top: 4rem
  padding-bottom: 4rem
  display: grid
  grid-template-columns: 1fr

  @media screen and (min-width: 800px)
    grid-template-columns: repeat( auto-fit, calc(100% / 2) )
    justify-items: center

p
  font-size: 1.2rem
  line-height: 1.75rem

.study-jams-banner
  min-width: 10rem
  margin-bottom: 5rem
  max-width: 80vw


