// @import '../../../../styles/general/typography.styl'
// @import '../../../../styles/general/color.styl'
// @import '../../../../styles/general/box-sizing.styl'

:host
  display block
  box-sizing: border-box
  // min-height: 100vh
  width: 100vw
  padding 60px 0
  background-color:#085566;
  background-image:
  linear-gradient(30deg, #0f8e8f 12%, transparent 12.5%, transparent 87%, #0f8e8f 87.5%, #0f8e8f),
  linear-gradient(150deg, #0f8e8f 12%, transparent 12.5%, transparent 87%, #0f8e8f 87.5%, #0f8e8f),
  linear-gradient(30deg, #0f8e8f 12%, transparent 12.5%, transparent 87%, #0f8e8f 87.5%, #0f8e8f),
  linear-gradient(150deg, #0f8e8f 12%, transparent 12.5%, transparent 87%, #0f8e8f 87.5%, #0f8e8f),
  linear-gradient(60deg, #07649e 25%, transparent 25.5%, transparent 75%, #07649e 75%, #07649e),
  linear-gradient(60deg, #07649e 25%, transparent 25.5%, transparent 75%, #07649e 75%, #07649e);
  background-size:160px 280px;
  background-position: 0 0, 0 0, 80px 140px, 80px 140px, 0 0, 80px 140px;
  

.about-container
  width: 80vw
  margin: auto
  color: white
  padding-top: 4rem
  padding-bottom: 4rem

p
  font-size: 1.2rem
  line-height: 1.75rem
