// @import '../../../../styles/general/typography.styl'
// @import '../../../../styles/general/color.styl'
// @import '../../../../styles/general/box-sizing.styl'

:host
  display block
  box-sizing: border-box
  min-height: 100vh
  width: 100vw
  background: linear-gradient(#00CCAAFF,#00CCFF33)

.about-container
  width: 80vw
  margin: auto
  color: white
  padding-top: 4rem
  padding-bottom: 4rem
