@import '../../../../styles/general/host-block.styl'
@import '../../../../styles/general/spacing.styl'


// custom classes

.title
  position relative
  color: #00BBAA
  display: flex
  align-items: center
.title
  .title-text
    background: linear-gradient(to right,#00ccaa, #4285f4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 0.65rem
.title::after
  z-index -1
  content: ""
  transform: skewX(-45deg)
  background-color: white
  top: -2.2rem
  left: -5rem
  padding: 2.75rem 1rem
  width: 130%
  position absolute
  border-radius: 0.5rem/0.25rem

.title::before
  z-index -10
  content: ""
  transform: skewX(-45deg)
  background-color: #ffffff33
  top: -2.2rem
  left: -5rem
  padding: 2.75rem 1rem
  width: 150%
  position absolute
  border-radius: 0.5rem/0.25rem

.header-image-logo
  width: 3rem

button::before
  z-index -10
  content: ""
  transform: skewX(-45deg)
  background-color: #ffffff
  top: -1rem
  left: -1.5rem
  padding: 2.5rem
  width: 2rem
  position absolute
  border-radius: 0.5rem/0.25rem
    
.filled::before
  @media screen and (min-width: 601px)
    opacity: 1 !important
.filled
  @media screen and (min-width: 601px)
    background-color: white !important
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2) !important

    ul.links
      list-style none
      display flex
      align-items center
      margin-right: 24px

      .register
        // opacity: 1 !important
        // background-color: #4285f433 !important
        span
          color: #4285f4 !important

      > .link-item > .link
        text-decoration: none
        padding: 24px 18px
        > .span
          color: #444
        > .span::after
          background-color: #4285f4
        > .span::before
          background-color: #4285f4


.header
  display: flex
  align-items: center
  position: fixed
  width: 100vw
  height 4rem
  z-index: 10
  background-color: transparent
  transition: 0.3s background-color, 0.3s box-shadow
  will-change: background-color
  overflow: hidden
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0)

.header::before
  position: absolute
  right: 0px
  bottom: -5px
  left: 0px
  width: 100%
  height: 5px
  content: ""
  box-shadow: inset 0px 5px 6px -3px rgba(0, 0, 0, 0.2)
  opacity: 0
  transition: 0.3s opacity
  will-change: opacity

.header
  .title
    margin: 0
    padding-left: $small
    font-size 1.4rem

  .spacer
    flex: 1

  .button
    margin-left: $small

.button
  border: 0
  background: none
  cursor: pointer
  border-radius: 50%
  padding: 0

  &:hover
    background: #eee

.icon
  width: $small
  height: $small

.mobile-only
  display: none

  @media screen and (max-width: 600px)
    display: block

.mobile-and-tablet-only
  display: none

  @media screen and (max-width: 800px)
    display: block

.not-mobile
  display: block

  @media screen and (max-width: 600px)
    display: none !important

.not-tablet-and-mobile
  @media screen and (max-width: 800px)
    display none !important

ul.links
  list-style none
  display flex
  align-items center
  margin-right: 24px
  z-index 1000

  .register
    font-weight: bold
    
    

  > .link-item > .link
    text-decoration: none
    padding: 24px 18px
    display: inline-block
    transition: opacity 0.2s
    position: relative
    opacity: 0.8
    color: white
    cursor pointer

    > .span
      transition: color 0.3s

    > .span::after
        content: ""
        display: block
        background-color: white
        width: 100%
        transform: scaleX(0)
        transform-origin: 100%
        will-change: transform
        height: 0.2rem
        margin-top: 0.5rem
        border-radius: 0.5rem
        top: 0
        transition: background-color 0.3s, transform 0.25s

    > .span::before
        content: ""
        position: absolute
        background-color: white
        width: calc(100% - 2.3rem)
        transform: scaleX(0)
        transform-origin: 100%
        border-radius: 0.5rem
        will-change: transform
        transition: 0.25s transform
        height: 0.2rem
        margin-top: 3.2rem
        top: 0

  > .link-item > .link.active
    opacity: 1

    > .span::after
      transform: scaleX(1)
      transform-origin: 0%

  > .link-item > .link:hover
    opacity: 1

    > .span::before
      transform: scaleX(1)
      transform-origin: 0%
