@import '../../styles/general/typography.styl'
@import '../../styles/general/color.styl'
@import '../../styles/general/box-sizing.styl'

:host
  display block
  background $light
  height 100vh
  box-sizing: border-box