@import '../../styles/general/typography.styl'
@import '../../styles/general/color.styl'
@import '../../styles/general/box-sizing.styl'

:host
  display block
  background $light
  box-sizing: border-box
  // height 100vh
  overflow-x: hidden
  overflow-y: auto
  // perspective: 1px
  

header
  position: sticky
  top: 0
  z-index: 1

project-header
  z-index 10000
  position: absolute
