// @import '../../../../styles/general/typography.styl'
// @import '../../../../styles/general/color.styl'
// @import '../../../../styles/general/box-sizing.styl'

:host
  display block
  box-sizing: border-box
  background-color: #333
  width: 100vw
  display: flex
  padding: 60px 0
  align-items: center
  justify-content: center

.footer-content
  display: flex
  width 80%
  justify-content: space-between
  color: white

img
  width: 8rem