// @import '../../../../styles/general/typography.styl'
// @import '../../../../styles/general/color.styl'
// @import '../../../../styles/general/box-sizing.styl'

:host
  display block
  box-sizing: border-box
  background-color: #f0f0f0
  width: 100vw
  display: flex
  align-items: center
  justify-content: center
  padding: 24px
  