// @import '../../../../styles/general/typography.styl'
// @import '../../../../styles/general/color.styl'
// @import '../../../../styles/general/box-sizing.styl'

:host
  display block
  box-sizing: border-box
  background-color: #f0f0f0
  width: 100vw
  padding: 24px

.logo-container
  display flex
  justify-content: center
  align-items: center
  flex-wrap: wrap

h3
  color: #333

div + h3
  margin-top: 2rem

.sponsor-logo
  width: 12rem
.sponsor-logo-wide
  width: 16rem
.sponsor-logo-narrow
  width: 8rem

.main-sponsor
  max-width: 90vw
  width: 20rem

.main-sponsor-wide
  max-width: 90vw
  width: 27rem
