// @import '../../../../styles/general/typography.styl'
// @import '../../../../styles/general/color.styl'
// @import '../../../../styles/general/box-sizing.styl'
@import '../../../../styles/general/button.styl'

:host
  display block
  box-sizing: border-box
  height: 100vh
  max-width: 100vw
  overflow hidden

.revealer
  width: 100vw
  height 100vh
  background-color: white
  z-index: 10
  position absolute
  will-change: transform
  transform: translateY(0)
  animation-name: revealer;
  animation-duration: 0.4s;
  animation-fill-mode: forwards

@keyframes revealer {
  0% {
    transform: translateY(0)
    }
  99% {
    transform: translateY(-100vh)
  }
  100% {
    transform: translateY(-100vh)
    display none
  }
}

.slideshow-container
  max-width: 100vw
  max-height: 100vh
  overflow hidden

.content::after
    content: " ";
    width: 75%;
    height: 5rem;
    position: absolute;
    bottom: -1rem;
    right: -25%;
    background-color: #ffffff22;
    border-radius: 0.5rem/0.25rem;
    transform: skewX(-45deg);

.content::before
    content: " ";
    width: 75%;
    z-index: 1
    width: 25%;
    height: 10rem;
    position: absolute;
    bottom: -1rem;
    right: -25%;
    background-color: #ffffff44
    border-radius: 0.5rem/0.25rem;
    transform: skewX(-45deg);


.overlay  
  width: 100vw
  height: 100vh
  position: absolute
  top: 0
  // background-color: #00CCAAAA
  background-color: #4285f4AA
  display: flex
  justify-content: center
  align-items: center

.content
  width: 100vw
  height: calc(100vh - 64px)
  position: absolute
  top: 64px
  display: flex
  justify-content: center
  align-items: center

.overlay-content
  width: 80%
  transform: translateY(0rem)
  transition: transform 0.5s ease-out, opacity 0.3s
  opacity: 1

.landing-title
  color: white
  // font-size: 2rem (small)
  // margin-bottom: 0.5rem
  font-weight: lighter
  font-size: calc(1rem + 2vw)
  padding: none
  width: 80vw
  max-width 48rem
  will-change: transform
  animation-name: title-revealer;
  animation-duration: 0.8s;
  transform: translateY(5rem)
  animation-fill-mode: forwards
  line-height: 1.2
  margin-top: 1rem
  margin-bottom: 1rem

@keyframes title-revealer {
  0% {
    transform: translateY(5rem)
    }
  100% {
    transform: translateY(0)
  }
}

.slideshow-banner
  width: 100vw
  height: 100vh
  max-height: 100vh
  overflow hidden
  position: absolute
  transition: opacity .5s ease-in
  opacity: 1
  top: 0
  left: 0

.button
  background white
  button()
  padding: 16px 16px 11px 16px
  color: #4285f4
  cursor: pointer

.slideshow-banner + .slideshow-banner
  opacity: 0