// @import '../../../../styles/general/typography.styl'
// @import '../../../../styles/general/color.styl'
// @import '../../../../styles/general/box-sizing.styl'

:host
  display block
  box-sizing: border-box
  background-color: #eeeeee