// @import '../../../../styles/general/typography.styl'
// @import '../../../../styles/general/color.styl'
// @import '../../../../styles/general/box-sizing.styl'

:host
  display block
  box-sizing: border-box
  background-color: white
  background-image: linear-gradient(-5deg, white 25%, #1ce9b6 calc(25% + 1px), #1ce9b6 calc(75% - 1px), white 75%);
  background-position: 0rem 68vh
  background-repeat: no-repeat
  width: 100vw
  display: flex
  align-items: center
  justify-content: center
  height: 100vh
  padding-top: 4rem
  
  @media screen and (max-width: 800px)
    height: 100vh

  .details-content
    max-width: 1280px
    width: 80%
    text-align: center
    margin-bottom: 15vh;

  .details-logo
    width: 15rem
    @media screen and (max-width: 800px)
      width: 12rem
  .theme
    font-size: 2rem
    font-weight: lighter

  .sub-details
    display: flex
    align-items: center
    justify-content: center
    flex-wrap: wrap

    .item
      width: 20rem
      display: flex
      align-items: center
      justify-content: center
    
      span
        margin: 0.5rem 1rem
        padding-top: 0.25rem
        display: inline-block
        